<h1>Catalogo de Jabones!</h1>

<div>
  <p *ngIf="!soaps"><p-progressSpinner></p-progressSpinner></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let soap of soaps">
      <p-card header="{{ soap.name }}" subheader="{{ soap.soapType.name }}" [style]="{width: '300'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="{{ imageBase }}{{ soap.images[0].name }}" height="350" width="300">
        </p-header>
        <div>
          <b style="color: green">{{ soap.price | currency }}</b>
        </div>
        <p-footer>
          
        </p-footer>
      </p-card>
    </div>
  </div>
</div>
